[Unit]
Description=Gitlab Postgres
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ gitlab_systemd_unit_home_path }}"
ExecStartPre=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} kill gitlab-postgres 2>/dev/null'
ExecStartPre=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} rm gitlab-postgres 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name gitlab-postgres \
			--log-driver=none \
			--network={{ gitlab_docker_network }} \
			--env-file={{ gitlab_postgres_base_path }}/env-postgres-server \
			-v {{ gitlab_postgres_data_path }}:/var/lib/postgresql:rw \
			{{ gitlab_postgres_docker_image }}

ExecStop=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} kill gitlab-postgres 2>/dev/null'
ExecStop=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} rm gitlab-postgres 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier=gitlab-postgres

[Install]
WantedBy=multi-user.target
