[Unit]
Description=Gitlab nginx-proxy server
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ gitlab_systemd_unit_home_path }}"
ExecStartPre=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} kill gitlab-nginx-proxy 2>/dev/null'
ExecStartPre=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} rm gitlab-nginx-proxy 2>/dev/null'

ExecStart=/usr/bin/docker run --rm --name gitlab-nginx-proxy \
			--log-driver=none \
			--network={{ gitlab_docker_network }} \
			-p 80:8080 \
			-p 443:8443 \
			-v {{ gitlab_nginx_proxy_base_path }}/nginx.conf:/etc/nginx/nginx.conf:ro \
			-v {{ gitlab_nginx_proxy_data_path }}:/nginx-data:ro \
			-v {{ gitlab_nginx_proxy_confd_path }}:/etc/nginx/conf.d:ro \
			-v {{ gitlab_ssl_config_dir_path }}:{{ gitlab_ssl_config_dir_path }}:ro \
			{% for arg in gitlab_nginx_proxy_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ gitlab_nginx_proxy_docker_image }}

ExecStop=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} kill gitlab-nginx-proxy 2>/dev/null'
ExecStop=-{{ gitlab_host_command_sh }} -c '{{ gitlab_host_command_docker }} rm gitlab-nginx-proxy 2>/dev/null'
ExecReload={{ gitlab_host_command_docker }} exec gitlab-nginx-proxy /usr/sbin/nginx -s reload
Restart=always
RestartSec=30
SyslogIdentifier=gitlab-nginx-proxy

[Install]
WantedBy=multi-user.target
